@font-face {
    font-family: dancingScript;
    src: url(fonts/dancingScript/DancingScript-VariableFont_wght.ttf);
}

html {
    font-family: dancingScript;
    background-color: #171717;
    color: grey;
    margin: 0;
    padding: 0;
}

html::before {
    content: "";
    background-image: url(images/background-forest.jpg);
    background-size: cover;
    position: absolute;
    opacity: 0.25;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

body {
    position: relative;
}

/* rules section styling */
.rules {
    display: flex;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

/* selection styling */
.header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container > button {
    height: 200px;
    width: auto;
    border: 3px solid grey;
    border-radius: 16px;
    background: none;
}

.container > button:active {
    border: 2px solid #171717;
}

.choice {
    font-family: dancingScript;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    color: grey;
    transition: all 0.15s ease-in-out;
    opacity: 1;
    filter: grayscale(80%);
}

.choice:hover {
    scale: 1.05;
    opacity: .8;
}

.choice:active {
    scale: 1;
    opacity: 1;
}

button > img {
    height: 100%;
    border-radius: 8px;
}


/* result section styling */
.result {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.resultMessage {
    display: flex;
    align-items: center;
    gap: 8px;
}

.result > .resultMessage > img {
    max-height: 40px;
    max-width: auto;
}

/*  score section styling */
.score {
    display: flex;
    gap: 128px;
    justify-content: center;
    font-size: 36px;
}

.playerScore,
.computerScore {
    display: flex;
    gap: 16px;
}

/*  New Game button styling */
.reset {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#resetButton {
    background: none;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 4px 8px;
    color: grey;
}

#resetButton:hover {
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    background: #171717;
}

#resetButton:active {
    color: #171717;
    border: 2px solid #171717;
    background: #f1f1f1;
}